@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

li > ul {
  list-style: circle inside;
}

li > ol {
  margin-left: 30px;
  list-style: lower-alpha inside;
}
